@keyframes glowing {
    0% {
        background-color: #fca104;
        box-shadow: 0 0 5px #fca104;
    }
    50% {
        background-color: #ffbb33;
        box-shadow: 0 0 20px #ffbb33;
    }
    100% {
        background-color: #fca104;
        box-shadow: 0 0 5px #fca104;
    }
}

.aufleuten_nr {
    animation: glowing 1300ms infinite;
}


/* .popup {
    position: absolute;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
} */

.popup-content {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #000000;
}


/* .popup::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 20px 10px;
    border-color: transparent transparent #fff transparent;
}

.popup-trigger {
    position: relative;
    z-index: 1;
} */

#popup {
    position: fixed;
    top: 87%;
    left: 56%;
    width: 15rem;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#popup.hidden {
    opacity: 0;
    /* display: none; */
}

@media (max-width:480px) {
    #popup {
        display: block;
    }
}

@media (min-width:480px) and (max-width:4000px) {
    #popup {
        display: none;
    }
}